/* comments look like this in CSS files */

#navbar {
  background-color: #000000; /* black */
  color: #ffffff;            /* white */
  margin: 0;
  padding: 0.5em 0; /* 0.5em padding on top/bottom, 0 padding on left/right */
}

#navbar a {
  margin: 0;
  padding: 0.5em;
  color: #ffffff;
  text-decoration: none;
}


body {
	font-family: "Comic Sans MS", sans-serif;
	background-image: url("images/rainbow.gif");
}

body.resume {
	background-color: black;
	background-image: none;
	color: white;
}


main {
  padding: 0.5em;
}
